<%= form_for([@user, @recipe]) do |f| %>
  <%= f.hidden_field :user_id %>
  <div>
    <%= f.label "Title"%>
    <%= f.text_field :title, :placeholder => @recipe.errors.full_messages_for(:title).first || "Enter a new item..."%>
  </div>
  <div>
    <%= f.label "Approximate Cook Time (min)"%>
    <%= f.number_field :time %>
  </div>
  <%= f.label "Description" %>
  <%= f.text_area :description, cols: 40, rows: 6, :placeholder => @recipe.errors.full_messages_for(:description).first || "Enter description..." %><br><br>
  <%= f.label "Directions" %>
  <%= f.text_area :directions, cols: 40, rows: 6, :placeholder =>@recipe.errors.full_messages_for(:directions).first || "Enter directions..." %><br><br>
  <%= f.label :ingredients %><br><br>

  <%= render :partial => "ingredients/ingredient", :locals => {:recipe => @recipe, :f => f} %>

  <br><br>
  <%= f.label :categories %><br>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %><br>
  <%= f.fields_for :categories, @recipe.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name, placeholder: "New Category" %><br />
  <% end %><br><br>
  <%= f.submit %>
<% end %> 