<%= form_for([@user, @recipe]) do |f| %>
  <%= f.hidden_field :user_id %>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label "Approximate Cook Time (min)"%>
    <%= f.number_field :time %>
  </div>
  <%= f.label :description %>
  <%= f.text_area :description, cols: 40, rows: 6 %><br><br>
  <%= f.label :directions %>
  <%= f.text_area :directions, cols: 40, rows: 6 %><br><br>
  <%= f.label :ingredients %><br><br>

  <%= render :partial => "ingredients/ingredient", :locals => {:recipe => @recipe, :f => f} %>

  <br><br>
  <%= f.label :categories %><br>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %><br>
  <%= f.fields_for :categories, @recipe.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name, placeholder: "New Category" %><br />
  <% end %><br><br>
  <%= f.submit %>
<% end %> 