<%= current_user.recipes.each do |recipe| %>
  <h3><%= recipe.title %></h3>
  <%= recipe.time %>
  <%= recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <%= recipe_ingredient.ingredient.name %>. -  <%= recipe_ingredient.quantity %>  -  <%= recipe_ingredient.direction %>
  <% end %>
  <br>
<% end %>

