<%#= raise recipe.inspect %>
<%# recipes.each do |recipe| %>
  <h3><%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %></h3>
  <p><%= recipe.time %> Min</p>
  <ul>
  <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li><%= recipe_ingredient.ingredient.name %> -  <%= recipe_ingredient.quantity %>  </li>
  <li><%= recipe_ingredient.direction unless nil%></li>
  <% end %>
  </ul>
  <br>
<%# end %>

