  <h3><%= link_to recipe.title, user_recipe_path(recipe.user, recipe) %></h3>
  <em>Submitted by <%= link_to recipe.user.name, user_recipes_path(recipe.user) %></em><br>
  Approximate Cook Time: <%= recipe.time %> Min
  <ul>
    <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient.ingredient.name %> -  <%= recipe_ingredient.quantity %>  -  <%= recipe_ingredient.preparation unless nil%></li>
    <% end %>
  </ul>
  <br>


