<div id="recipe-body">
  <header>
    <a href="#" id="js-previous">Previous Recipe</a>
    <a href="#" id="js-next">Next Recipe</a>
  </header>
  <h1 id="js-recipe-title" data-recipe-id="<%= @recipe.id %>" ><%= @recipe.title %></h1> 
  <h6 class="mb-2 text-muted" id="js-user" data-user-id="<%=@recipe.user.id%>">
    Submitted by <%= link_to @recipe.user.username, user_recipes_path(@recipe.user), id: "js-user-link" %>
  </h6>
  <p> Approximate Cook Time:  <span id="js-cook-time"><%= @recipe.time %></span>  Min </p>
  <p id="js-description"><em> <%= @recipe.description %></em></p>
  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li> <%= recipe_ingredient.ingredient.name %> - <%=recipe_ingredient.quantity %>  <%= recipe_ingredient.preparation %></li>
      
    <% end %>
  </ul>
  <p id="js-directions"> <%= @recipe.directions %></p>
</div>

<p>
  <%= show_edit_link %> <br>
</p>

<script id="recipe-show-template" type="text/x-handlebars-template">
  <header>
    <a href="#" id="js-previous">Previous Recipe</a>
    <a href="#" id="js-next">Next Recipe</a>
  </header>
  <h1 id="js-recipe-title" data-recipe-id="{{recipe.id}}">{{recipe.title}}</h1> 
  
  <h6 class="mb-2 text-muted" id="js-user" data-user-id="{{recipe.user.id}}">Submitted by 
    <a href="/users/{{recipe.user.id}}/recipes" id="js-user-link">{{recipe.user.name}}</a>
  </h6>
  <p> Approximate Cook Time: {{recipe.time}}  Min </p>
  <p id="js-description"><em> {{recipe.description}}</em></p>
  <ul>
    {{#recipe.recipeIngredients}}
      <li>{{ingredient.name}} - {{quantity}} {{preparation}}</li>
    {{/recipe.recipeIngredients}}
  </ul>
  <p id="js-directions"> {{recipe.directions}}</p>
</script>