<h1><%= @recipe.title %></h1>

<p> Approximate Cook Time:  <%= @recipe.time %> Min </p>
<p><em> <%= @recipe.description %></em></p>
<ul>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li> <%= recipe_ingredient.ingredient.name %> - <%=recipe_ingredient.quantity %>  <%= recipe_ingredient.preparation %></li>
    
  <% end %>
</ul>
<p> <%= @recipe.directions %></p>
<p>
  <%= show_edit_link %>
  <%#= button_to "Edit", list_item_path(item.list, item), :method => "delete", :class => "destroy" %>
</p>
