<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%# flash.each do |name, msg| -%>
      <%#= content_tag :div, msg.first, class: "alert alert-#{name}" %>
    <%# end -%>
    <%=tag.div :class =>"container" do %>
      <%= yield %>
    <% end %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"/>
  </body>
</html>
